@model EcoShrimp.Admin.Areas.Admin.ViewModels.Roles.DeleteRoleVM
@{
	int count = 1;
	ViewData["Title"] = "Xóa vai trò";
}

<form asp-action="DeleteRole" method="post">
	<div class="row" style="margin-left: 10px">
		<div class="col-md-12 p-0">
			<div class="row  mt-2">
				<div class="col-auto p-0">
					<a asp-action="Index" asp-controller="AdminRoles" class="text-decoration-none">Quản lý danh sách vai trò /</a>
				</div>
				<div class="col-auto p-0 ms-1">
					<i>Xóa vai trò</i>
				</div>	
			</div>
			<div class="row h4 pt-2" style="font-weight: 500">
				<span class="">Xác nhận xóa vai trò</span>
			</div>
			<hr />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">
				<div class="col-5">
					<div class="row fs-5">
						Thông tin vai trò
					</div>
					<div class="row " style="font-size: 12px">
						<span class="p-0"><i>Ngày tạo: @Model.CreateDate.ToString("dd/MM/yyyy")</i></span>
					</div>
					<div class="row mt-3">
						<p class="p-0 mb-1 fw-bold">Tên vai trò</p>
						<input type="text" asp-for="Name" class="form-control" disabled />
					</div>
					<div class="row mt-3">
						<p class="p-0 mb-1 fw-bold">Mô tả</p>
						<input type="text" asp-for="Desc" class="form-control" disabled />
					</div>
					@if(@Model.appUsers.Count > 0){
						<div class="row mt-3">
							<p class="p-0 mb-1 fw-bold">Tên vai trò thay thế <span class="text-danger">*</span></p>
							<select asp-for="IdNewRole" class="form-select form-control form-select-sm" aria-label="Small select example">
								<option value="-1">Chọn tên vai trò </option>
								@foreach (var item in ViewBag.ListRole)
								{
									if (item.Id != Model.IdRole)
									{
										<option value="@item.Id">@item.Name</option>
									}
								}
							</select>
						</div>
					}
				</div>
				<div class="col-6 p-0" style="margin-left: 50px">
					<div class="row mt-3 pe-5">
						<p class="p-0 mb-1 fs-6 fw-bold">Có @Model.appUsers.Count tài khoản bị ảnh hưởng <span class="text-danger">*</span></p>
						@foreach(var item in Model.appUsers)
						{
							<p class="p-0 mb-1"><span class="fw-bold">@count .</span> @item.Name</p>
							count++;
						}
					</div>
				</div>

			</div>
		</div>


	</div>
	<div class="row mt-5">
		<div class="col">
			<div class="form-group">
				@if (@Model.appUsers.Count > 0) {
					<button type="submit" class="btn btn-danger px-4 me-2"><i class="fas fa-trash-alt me-2"></i> Chuyển đổi & Xóa Vài trò </button>
				}else{
					<button type="submit" class="btn btn-danger px-4 me-2"><i class="fas fa-trash-alt me-2"></i> Xóa Vài trò </button>
				}
				<button type="button" class="btn btn-secondary"><i class="fa fa-undo pe-2"></i> Quay lại trang danh sách</button>
			</div>
		</div>
	</div>
</form>