@using EcoShrimp.Admin.Areas.Admin.ViewModels.CateNews
@using EcoShrimp.Share.Const
@using EcoShrimp.Share.Enums
@using EcoShrimp.Share.Extension
@model X.PagedList.PagedList<EcoShrimp.Data.Entities.AppCateNews>

@{
	int stt = 1;
	var status = TempData["status"] as List<SelectListItem>;
	ViewData["Title"] = "Danh sách loại bài viết";
}
<div class="row w-100 fs-4 ">
	<span class="ps-2" style="font-size: 25px">Danh sách Loại tin</span>
</div>
<hr />

@if (User.IsInPermission(AuthConst.AppCateNews.CREATE))
{
	<form asp-action="Index">
		<div class="row">
			<div class="col-12">
				<div class="row" style="margin-left: 2px">
					<button type="button" class="btn btn-primary w-auto rounded-1 col-2" data-toggle="modal" data-target="#CreateCateNews">
						<i class="fas fa-plus-circle"></i> Thêm mới
					</button>
					<div class="mx-1"></div>
					<div class="col-3 p-0 ms-4">
						<input type="text" name="keyword" placeholder="Bạn cần tìm gì ..." class="form-control" style="border-radius: 7px 0 0 7px" />
					</div>
					<button type="submit" class="col-auto p-0 border border-none px-2" style="border-radius: 0 7px 7px 0">Tìm Kiếm</button>
				</div>
			</div>
		</div>
	</form>
}


@if (User.IsInPermission(AuthConst.AppCateNews.VIEW_LIST))
{
	<div class="table-responsive mt-3">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th style="width: 50px ">#</th>
					<th>Tên danh mục</th>
					<th style="width: 150px " class="text-center">Trạng thái</th>
					<th style="width: 110px " class="text-center">Ngày tạo</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td style="vertical-align: middle;">@stt</td>
						<td style="vertical-align: middle;">
							<strong>@item.Name</strong>
						</td>
						<td style="vertical-align: middle;" class="text-center">
							@if (item.Status == Status.Active)
							{
								<span class="mx-1">Hoạt động</span>
							}
							@if (item.Status == Status.Inactive)
							{
								<span class="mx-1">Không hoạt động</span>
							}
						</td>
						<td style="vertical-align: middle;" class="text-center">
							<span class="mx-1">@item.CreatedDate?.ToString("dd/MM/yyyy")</span>
						</td>

						<td class="justify-content-center text-center" style="width: 150px ">
							<a asp-action="Subtr" asp-controller="AdminCateNews" asp-route-id="@item.Id">
								<i class="fas fa-arrow-alt-circle-up"></i>
							</a>
							<a asp-action="Plus" asp-controller="AdminCateNews" asp-route-id="@item.Id">
								<i class="fas fa-arrow-alt-circle-down"></i>
							</a>

							@if (User.IsInPermission(AuthConst.AppCateNews.UPDATE))
							{
								<button type="button" class="text-primary px-2 btn btn-outline-light border border-sacondary"
										data-toggle="modal" data-target="#UpdateCateNews"
										onclick="fncUpdateCateNews('@item.Name', '@item.Desc','@item.Status', @item.Id)">
									<i class="far fa-edit fs-5"></i>
								</button>
							}

							@if (User.IsInPermission(AuthConst.AppCateNews.DELETE))
							{
								<button type="button" class=" px-2 btn btn-outline-light border border-sacondary ">
									<a asp-action="Delete" asp-controller="AdminCateNews" asp-route-id="@item.Id">
										<i class="fas fa-trash-alt fs-5 text-danger"></i>
									</a>
								</button>
							}
						</td>
					</tr>
					stt++;
				}
			</tbody>
		</table>
		@if (TempData["searched"] != null && !string.IsNullOrEmpty(TempData["searched"]!.ToString()))
		{
			<div class="text-center">
				<span class="text-danger"><i>Kết quả tìm kiếm [@Model.Count()] item </i></span> <a asp-action="Index" class="text-decoration-none text-center" style="display: inline-block">Đặt lại</a>
			</div>
		}
	</div>
}
else
{
	<div class="text-center">
		<span class="text-danger"><i>Bạn không có quyền xem danh sách</i></span>
	</div>
}
<partial name="_Pager" />

@await Html.PartialAsync("_CreateCateNews", new CateNewsVM())
@await Html.PartialAsync("_UpdateCateNews", new CateNewsVM())
